@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #F1FAEE;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.menicko {
    background-color: #1D3557;
    width: 100%;
    height: 160px;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 60px;
}

.menicko a {
    color: #F1FAEE;
    font-size: 16px;
    text-decoration: none;
    margin-left: 80px;
    transition: color 0.3s ease;
}

.menicko a:hover, .menicko a:focus {
    color: #d4a373;
}

.logonazev {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

h1 {
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 50px;
    color: #F1FAEE;
    margin: 0;
}

.nazev_stranky {
    width: 100%;
    margin-top: 160px;
    background-color: #d4a373;
    height: 65px;
    line-height: 65px;
    text-align: center;
}

.nazev_stranky p {
    font-size: 30px;
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: normal;
    color: #F1FAEE;
}

.logo {
    height: 170px;
    margin-left: 30px;
}

.pejskove {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 40px;
    gap: 50px;
}

.karta {
    width: 280px;
    height: 360px;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: transform 0.6s;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
}

.karta:hover {
    transform: rotateY(180deg);
}

.predek, .zadek {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.zadek {
    background-color: #a8dadc;
    color: #1D3557;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotateY(180deg);
}

.pesObrazek {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.predek p {
    height: 30px;
    margin: 0;
    line-height: 30px;
    text-align: center;
    background-color: #1D3557;
    color: #F1FAEE;
}

.predek {
    background-color: #1D3557;
}

.zakonceni {
    width: 100%;
    background-color: #669bbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.zakonceni .nazev_utulku {
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 50px;
    color: #F1FAEE;
    margin: 0;
    text-align: center;
}

.zakonceni img {
    margin: 10px auto;
    height: 110px;
}

.zakonceni .detaily {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    color: #F1FAEE;
}

.detaily > div {
    flex: 1 1 200px;
    padding: 10px;
    text-align: center;
}


@media (max-width: 1024px) {
    h1 {
        font-size: 40px;
    }

    .nazev_stranky p {
        font-size: 24px;
    }

    .pejskove {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .sloupec1, .sloupec2, .sloupec3 {
        width: 30%;
    }

    .karta {
        width: 100%;
    }

    .zakonceni .detaily {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .menicko {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .menicko a {
        margin-left: 0;
        line-height: normal;
    }

    h1 {
        font-size: 30px;
        line-height: normal;
    }

    .logo {
        height: 120px;
    }

    .sloupec1, .sloupec2, .sloupec3 {
        width: 45%;
    }

    .nazev_stranky p {
        font-size: 20px;
    }

    .zakonceni .detaily {
        flex-direction: column;
        font-size: 14px;
        gap: 10px;
    }

    .pejskove {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    .nazev_stranky p {
        font-size: 18px;
    }

    .zakonceni .nazev_utulku {
        font-size: 16px;
    }

    .sloupec1, .sloupec2, .sloupec3 {
        width: 100%;
    }

    .detaily > div {
        flex: 1 1 100%;
    }

    .zakonceni .detaily {
        font-size: 12px;
    }

    .pejskove {
        flex-direction: column;
        align-items: center;
    }
}