@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #F1FAEE;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.menicko {
    background-color: #1D3557;
    width: 100%;
    height: 160px;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 60px;
}

.menicko a {
    color: #F1FAEE;
    font-size: 16px;
    text-decoration: none;
    margin-left: 80px;
    transition: color 0.3s ease;
}

.menicko a:hover, .menicko a:focus {
    color: #d4a373;
}

.logonazev {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

h1 {
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 50px;
    color: #F1FAEE;
    margin: 0;
}

.logo {
    height: 170px;
    margin-left: 30px;
}

.nazev_stranky {
    width: 100%;
    margin-top: 160px;
    background-color: #d4a373;
    height: 65px;
    line-height: 65px;
    text-align: center;
}

.nazev_stranky p {
    margin: 0;
    font-size: 30px;
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: normal;
    color: #F1FAEE;
}

.zakonceni {
    width: 100%;
    background-color: #669bbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.zakonceni .nazev_utulku {
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 50px;
    color: #F1FAEE;
    margin: 0;
    text-align: center;
}

.zakonceni img {
    margin: 10px auto;
    height: 110px;
}

.zakonceni .detaily {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    color: #F1FAEE;
}

.detaily > div {
    flex: 1 1 200px;
}

.sluzby {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.sluzby img {
    height: auto;
    max-width: 100%;
}

.vycvik, .venceni, .veterina {
    background-color: white;
    font-size: 17px;
    color: #1D3557;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    margin: 60px;
}

table {
    margin: 0 auto;
    width: auto;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 40px;
    }

    .nazev_stranky p {
        font-size: 24px;
    }

    .detaily > div {
        flex: 1 1 150px;
    }

    .vycvik, .venceni, .veterina {
        flex: 1 1 30%; 
    }
}

@media (max-width: 768px) {
    .menicko {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .menicko a {
        margin-left: 0;
        line-height: normal;
    }

    h1 {
        font-size: 30px;
        line-height: normal;
    }

    .logo {
        height: 100px;
    }

    .sluzby {
        flex-direction: column;
        gap: 10px;
    }

    .nazev_stranky p {
        font-size: 20px;
    }

    .vycvik, .venceni, .veterina {
        flex: 1 1 45%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    .nazev_stranky p {
        font-size: 18px;
    }

    .zakonceni .nazev_utulku {
        font-size: 24px;
    }

    .vycvik, .venceni, .veterina {
        flex: 1 1 100%;
    }

    .detaily {
        font-size: 14px;
    }
}